.checked-not-uploaded, .checked-mixed, .checked-uploaded {
    & > div {
        // Required for absolute positioning of the thumbnail panel
        position: relative;
    }

    // The thumbnails contain a div element where the properties "mask-image"
    // and "overflow" cause the shadow of the thumbnail-status to get hidden.
    // Depending on where the thumbnail is located (artwork page, listing, etc.),
    // it could be the second or third child, so cover both cases.
    & > div > div, & > div > div > div {
        mask-image: unset !important;
        -webkit-mask-image: unset !important;
        overflow: visible !important;
    }

    div[radius] {
        outline: 1px solid #eee;  // firebrick; // blue;
        box-shadow: 0 0 5px 4px var(--highlight-color);
        &[radius="4"] {
            border-radius: 4px;
        }
        &[radius="8"] {
            border-radius: 8px;
        }
    }
    &.large {
        div[radius] {
            box-shadow: 0 0 10px 8px var(--highlight-color);
            outline: 2px solid #eee;  // firebrick; // blue;
        }
    }
}

.checked-not-uploaded {
    --highlight-color: crimson;

    &.partially-checked {
        --highlight-color: coral;
    }
}

.checked-mixed {
    --highlight-color: #a900f2;  // lighten(darkviolet, 6%)

    &.partially-checked {
        --highlight-color: fuchsia;
    }
}

.checked-uploaded {
    --highlight-color: #006ffa;

    &.partially-checked {
        --highlight-color: deepskyblue;
    }
}