.thumbnail-panel {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: inherit;
    z-index: 1;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    .post-ids-container {
        flex: 1;
        overflow: auto;
        background-color: rgba(darkslateblue, 0.7);
    }

    .post-id-input {
        color: white;
        background-color: darkslateblue;
        opacity: 0.85;
        border: 0;
        outline: 0;
        box-sizing: border-box;
        border: 1px solid darkslateblue;
        border-top-color: #999;
        padding-left: 6px;
        padding-bottom: 2px;

        &::placeholder {
            color: #bbb;
        }
    }

    .post-link {
        background-color: rgba(lightgrey, 0.8);
        // font-weight: bold;
        // font-size: 1.1rem;
        font-size: 0;
        line-height: 0;
        box-shadow: 0 0 3px blue;
        
        img {
          background-color: #ccc;
          box-shadow: 0 0 12px white;
        }

        &:hover {
            background-color: lightgrey;
            color: black;

            img {
              background-color: #ddd;
            }
        }
    }

    &.small {
        border-radius: 8px;

        .post-ids-container {
            padding-left: 6px;
            padding-top: 6px;
        }
        .post-id-input {
            font-size: 1rem;
            height: 26px;
        }
        .post-link {
            padding: 6px;
            // padding: 6px 9px;
            // line-height: 15.5px;
            border-radius: 6px;
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }
    &.medium {
        border-radius: 4px;

        .post-ids-container {
            padding-left: 8px;
            padding-top: 8px;
        }
        .post-id-input {
            font-size: 1rem;
            height: 30px;
        }
        .post-link {
            padding: 7px;
            // padding: 7px 13px;
            // line-height: 22px;
            border-radius: 7px;
            margin-right: 7px;
            margin-bottom: 7px;
        }
    }
    &.large {
        border-radius: 4px;

        .post-ids-container {
            padding-left: 12px;
            padding-top: 12px;
        }
        .post-id-input {
            font-size: 1.15rem;
            padding-left: 10px;
            height: 34px;
        }
        .post-link {
            padding: 10px;
            // padding: 10px 15px;
            // font-size: 1.3rem;
            // line-height: 22px;
            border-radius: 7px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}

// Hide heart button when panel is visible
.showing-thumbnail-panel {
    svg {
        display: none;
    }
}
