.checked-not-uploaded, .checked-mixed, .checked-uploaded {
    div[type="illust"] {
        mask-image: unset !important;
        -webkit-mask-image: unset !important;
        overflow: visible !important;
    }
    div[radius] {
        outline: 1px solid #eee;  // firebrick; // blue;
        box-shadow: 0 0 5px 4px var(--highlight-color);
        &[radius="4"] {
            border-radius: 4px;
        }
        &[radius="8"] {
            border-radius: 8px;
        }
    }
    &.large {
        div[radius] {
            box-shadow: 0 0 10px 8px var(--highlight-color);
            outline: 2px solid #eee;  // firebrick; // blue;
        }
    }
}

.checked-not-uploaded {
    --highlight-color: crimson;

    &.partially-checked {
        --highlight-color: coral;
    }
}

.checked-mixed {
    --highlight-color: #a900f2;  // lighten(darkviolet, 6%)

    &.partially-checked {
        --highlight-color: fuchsia;
    }
}

.checked-uploaded {
    --highlight-color: #006ffa;

    &.partially-checked {
        --highlight-color: deepskyblue;
    }
}