.checked-not-uploaded {
    --highlight-color: crimson;

    &.partially-checked {
        --highlight-color: coral;
    }
}

.checked-mixed {
    --highlight-color: #a900f2;  // lighten(darkviolet, 6%)

    &.partially-checked {
        --highlight-color: fuchsia;
    }
}

.checked-uploaded {
    --highlight-color: #006ffa;

    &.partially-checked {
        --highlight-color: deepskyblue;
    }
}