body {
  padding: 20px;
  height: unset;  // Override Semantic UI's unnecessary "height: 100%"
  background-color: var(--background-color);
  color: var(--color);

  --color: #222;
  --color-weak: #505050;
  --background-color: #fafafa;

  --toggle-button-color: #fff;
  --toggle-background: rgba(0,0,0,.05);
  --toggle-background-hover: rgba(0,0,0,.15);
  --toggle-background-enabled: #2185d0;
 
  --button-color: rgba(0,0,0,.6);
  --button-background: #e0e1e2;
  --button-color-hover: rgba(0,0,0,.8);
  --button-background-hover: #cacbcd;

  &.dark-mode {
    --color: #ccc;
    --color-weak: #a5a5a5;
    --background-color: #1e1f20;

    --toggle-button-color: #aaa;
    --toggle-background: #444;
    --toggle-background-hover: #606060;
    --toggle-background-enabled: #{darken(#2185d0, 12%)};

    --button-color: #bbb;
    --button-background: #444;
    --button-color-hover: #dadada;
    --button-background-hover: #606060;
  }
}

.hidden {
  display: none !important;
}

.settings-row {
  max-width: 700px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.setting-details {
  font-size: 0.9rem;
  margin-top: 3px;
  color: var(--color-weak)
}

.toggle-group {
  .toggles-container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;

    .toggle {
      margin-top: 8px;
    }
  }
}

.ui.toggle.checkbox {
  label {
    display: inline-block;
    padding-right: 10px;
    color: var(--color) !important;
    &:after {
      background: var(--toggle-button-color);
    }
    &:before {
      background: var(--toggle-background);
    }
    &:hover::before {
      background: var(--toggle-background-hover);
    }
  }
  input:checked ~ label::before {
    background-color: var(--toggle-background-enabled);
  }
}

.ui.button {
  color: var(--button-color);
  background-color: var(--button-background);

  &:hover {
    color: var(--button-color-hover);
    background-color: var(--button-background-hover);
  }
}

.backup-buttons button:first-child {
  margin-right: 14px;
}

.status-message {
  margin-top: 8px;
  font-size: 1.1rem;
}

.success {
  color: seagreen;
}

.failure {
  color: crimson;
}
